.fs-7 {
    font-size: 0.9rem !important;
}

.fs-8 {
    font-size: 0.8rem !important;
}

.vh-90 {
    max-height: 90vh;
}

.vh-1g-100 {
    max-height: 90vh;
}

.scroll-y {
    overflow-y: scroll;
    scrollbar-width: none;
}

.text-gray-100 {
    color: #3a3939 !important;
}

.text-indent {
    text-indent: 2em;
}